.container{
  /* border: 2px solid brown; */
  margin: 6px;
  height: 550px;
}

.content{
  /* border: 2px solid black; */
  margin: -10px;
    padding: 5px;
    background-color: rgb(245, 83, 110);
    text-align: center;
    height: 590px;

}
.two{

  background-color: yellow;
  height: 425px;
  
}
.third{
  
  height: 124px;
  background-color: rgb(71, 247, 71);
  margin-top: -23px;
}
.fourth{
  
  height: 121px;
  background-color: aqua;
  
}
.buttons{
  /* border: 1px solid black; */
  text-align: initial;
}
button{
  margin-bottom: 24px;
}